.type-normal {
    background-color: #adae81!important;
}

.type-fighting {
    background-color: #c03028!important;
}

.type-flying {
    background-color: #a890f1!important;
}

.type-poison {
    background-color: #a040a1 !important;
}

.type-ground {
    background-color: #e0c068 !important;
}

.type-rock {
    background-color: #b9a038!important;
}

.type-bug {
    background-color: #a8b820!important;
}

.type-ghost {
    background-color: #705899!important;
}

.type-steel {
    background-color: #b8b9d0!important;
}

.type-fire {
    background-color: #f08030!important;
}

.type-water {
    background-color: #6891f0!important;
}

.type-grass {
    background-color: #79c950!important;
}

.type-electric {
    background-color: #f8d030!important;
}

.type-psychic {
    background-color: #f85888!important;
}

.type-ice {
    background-color: #98d8d9!important;
}

.type-dragon {
    background-color: #7038f8!important;
}

.type-dark {
    background-color: #715848!important;
}

.type-fairy {
    background-color: #e29dac!important;
}
